<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
     <link rel="stylesheet" href="static/style/style.css">
</head>
<body class="main">
    <p class="paragraph">
        Urban is a:
        <ul class="list">
            <li>Programmer</li>
            <li>Web Developer</li>
            <li>Electronic music producer</li>
            <li>AV creative</li>
        </ul>
    </p>
    <ul class="list">
        <li><a href="/">Home</a></li><li>
        <a href="/portfolio">Portfolio</a></li>
    </ul>
</body>
</html>