<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
     <link rel="stylesheet" href="static/style/style.css">
</head>
<body class="main">
    <p class="paragraph">
        Urban's past jobs:
        <ul class="list">
            <li>Worked in a lab</li>
            <li>Worked in a bar</li>
            <li>Worked in a gallery</li>
            <li>Worked in web development</li>
        </ul>
    </p>

    <ul class="list">
        <li><a href="/">Home</a></li><li>
        <a href="/aboutMe">About Me</a></li>
    </ul>

</body>
</html>